<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Password Reset Email</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 0;
            background-color: #f4f4f4;
        }

        .email-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 600px;
        }

        h3 {
            color: #e53935;
            margin-bottom: 10px;
        }

        a {
            color: #4caf50;
            text-decoration: none;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }

        em {
            font-style: italic;
        }
    </style>
</head>

<body>
    <div class="email-container">
        <p>
            <em>This is an automated message from the Scrap team</em>
        </p>
        <h3>
            <%= firstName %>... Forgot your password?<br>
        </h3>
        <p>
            No worries, it happens!<br>
            Go ahead and click the link below to reset your password.<br>
            This link expires in 10 minutes and can only be used once.<br>
        </p>
        <h3>
            <a href="http://localhost:4000/resetPassword/<%= passwordToken %>">Reset Password</a>
        </h3>
        <p>
            If you did not request a password reset, you can safely ignore this message.<br>
        </p>
    </div>
</body>

</html>
