<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f4f4f4;
            overflow: hidden; /* Hide the scrollbar */
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
        }

        input[type="password"],
        input[type="submit"] {
            width: 100%;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #4caf50;
            color: #fff;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }

        .error-message {
            color: red;
            font-size: 14px;
            margin-top: 5px;
            display: none;
        }
    </style>
</head>

<body>
    <p><%= passwordToken %></p>
    <form id="passwordForm" action="/resetPasswordConfirmation" method="post" onsubmit="return validateForm()">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" required>

        <label for="confirmPassword">Confirm New Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>

        <input type="hidden" id="passwordToken" name="passwordToken" value="<%= passwordToken %>">

        <p class="error-message" id="passwordMismatch">Passwords do not match</p>
        <p class="error-message" id="passwordLength">Password should be at least 8 characters long</p>

        <input type="submit" value="Change Password">
    </form>

    <script>
        function validateForm() {
            var newPassword = document.getElementById('newPassword').value;
            var confirmPassword = document.getElementById('confirmPassword').value;
            var errorTextMismatch = document.getElementById('passwordMismatch');
            var errorTextLength = document.getElementById('passwordLength');

            if (newPassword !== confirmPassword) {
                errorTextMismatch.style.display = 'block';
                errorTextLength.style.display = 'none';
                return false;
            } else if (newPassword.length < 8) {
                errorTextMismatch.style.display = 'none';
                errorTextLength.style.display = 'block';
                return false;
            } else {
                errorTextMismatch.style.display = 'none';
                errorTextLength.style.display = 'none';
                return true; // Return true to allow the form submission
            }
        }
    </script>
</body>


</html>